@use "../../../styles/variables.scss" as var;

.manage-my-games-container {
  input,
  textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #353545;
    background: #23232a65;
    backdrop-filter: blur(2px);
    color: #fff;
    font-size: 1rem;
    font-family: inherit;
    resize: none;
    max-width: 40vw;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-color: #a178eb;
  }

  .search-bar-games {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
}

.tab-btn {
  background: none;
  border: none;
  font-size: 1rem;
  padding: 10px 16px;
  cursor: pointer;
  color: #888;
  border-bottom: 2px solid transparent;
  transition: color 0.2s, border-color 0.2s;

  &.active {
    color: #fff;
    border-color: var.$panel-border;
  }
}
