@import url("https://fonts.googleapis.com/css?family=Inter:500,400");

.footer-container {
  width: 100%;
  max-width: 1611px;
  height: 353px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  position: relative;
  width: 100%;
  max-width: 1507px;
  height: 353px;
}

.frame-image {
  position: absolute;
  width: 100%;
  max-width: 1469px;
  height: 270px;
  top: 0;
  left: 0;
}

.footer-content {
  display: flex;
  width: 100%;
  max-width: 1388px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 121px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.footer-text-section {
  display: flex;
  width: 667px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.footer-info {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width: 667px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.copyright-text {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: var(--inter-common-font-weight, 400);
  color: var(--inactivegrey, rgba(165, 165, 165, 1));
  font-size: var(--inter-common-font-size, 16px);
  letter-spacing: var(--inter-common-letter-spacing, 0px);
  line-height: var(--inter-common-line-height, 150%);
  font-style: var(--inter-common-font-style, normal);
}

.footer-links {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.footer-link {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.page-start-button {
  margin-top: -1.5px;
  margin-bottom: -1.5px;
  width: 53.67px;
  background-color: var(--bg, rgba(18, 18, 24, 1));
}

.to-the-page-start {
  position: relative;
  transform: rotate(90deg);
  aspect-ratio: 0.73;
}

.asset-flux-image {
  position: absolute;
  width: 303px;
  height: 250px;
  top: 75px;
  right: 100px;
  left: auto;
}

.vector-image {
  position: absolute;
  width: 61px;
  height: 37px;
  top: 20px;
  left: -4px;
  transform: rotate(-90deg);
  aspect-ratio: 0.57;
}

:root {
  --bg: rgba(18, 18, 24, 1);
  --button-purpl: rgba(161, 120, 235, 1);
  --darkpurpl: rgba(41, 32, 53, 1);
  --grey: rgba(86, 85, 88, 1);
  --inactivegrey: rgba(165, 165, 165, 1);
  --lightpurpl: rgba(146, 119, 197, 1);
  --red: rgba(225, 37, 37, 1);
  --white: rgba(255, 255, 255, 1);

  --inter-common-font-family: "Inter", Helvetica;
  --inter-common-font-size: 16px;
  --inter-common-font-style: normal;
  --inter-common-font-weight: 400;
  --inter-common-letter-spacing: 0px;
  --inter-common-line-height: 150%;
}
