.my-modal-close-btn {
  position: absolute;
  top: 14px;
  right: 18px;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 0 6px;
  line-height: 1;
  transition: color 0.2s;

  &:hover {
    filter: brightness(1.2);
  }
}

.create-devpub-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-group label {
  font-size: 1rem;
  color: #a178eb;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #353545;
  background: #23232a;
  color: #fff;
  font-size: 1rem;
  font-family: inherit;
  resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #a178eb;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 12px;
}


.form-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    .form-column {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}